{:rename-macros {}, :renames {}, :externs {Error {}, Polymer {}}, :use-macros {}, :excludes #{}, :name proj.widgets.list.core, :imports nil, :requires {list proj.widgets.list, proj.widgets.list proj.widgets.list}, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:properties :true :ready :proj-list :observers :else :is :notify :items :hostAttributes :listeners}, :order [:else :is :properties :hostAttributes :ready :observers :listeners :proj-list :items :notify :true]}, :doc nil}