{:rename-macros {}, :renames {}, :externs {Error {}, Polymer {}, Object {}}, :use-macros {}, :excludes #{}, :name geras.widgets.device-card.core, :imports nil, :requires {device-card geras.widgets.device-card, geras.widgets.device-card geras.widgets.device-card}, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:properties :ready :observers :else :is :type :geras-device-card :device :hostAttributes :listeners}, :order [:else :is :properties :hostAttributes :ready :observers :listeners :geras-device-card :device :type]}, :doc nil}