{:rename-macros {}, :renames {}, :externs {Error {}, Polymer {}, Array {}}, :use-macros {}, :excludes #{}, :name proj.widgets.devices.core, :imports nil, :requires {devices proj.widgets.devices, proj.widgets.devices proj.widgets.devices}, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:properties :ready :observers :else :is :type :proj-devices :devices :hostAttributes :listeners}, :order [:else :is :properties :hostAttributes :ready :observers :listeners :proj-devices :devices :type]}, :doc nil}