{:rename-macros {}, :renames {}, :externs {Error {}, Polymer {}, Object {}}, :use-macros {}, :excludes #{}, :name proj.widgets.device-card.core, :imports nil, :requires {device-card proj.widgets.device-card, proj.widgets.device-card proj.widgets.device-card}, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:properties :ready :observers :else :is :type :device :hostAttributes :listeners :proj-device-card}, :order [:else :is :properties :hostAttributes :ready :observers :listeners :proj-device-card :device :type]}, :doc nil}