{:rename-macros {}, :renames {}, :externs {Error {}, Polymer {}, String {}, console {log {}}}, :use-macros {}, :excludes #{}, :name geras.widgets.greeting.core, :imports nil, :requires nil, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:properties :true :ready :observers :else :is :value :type :geras-greeting :notify :greeting :hostAttributes :listeners}, :order [:else :is :properties :hostAttributes :ready :observers :listeners :geras-greeting :greeting :value :type :notify :true]}, :doc nil}