{:rename-macros {}, :renames {}, :externs {Error {}, Polymer {}}, :use-macros {}, :excludes #{}, :name proj.widgets.snippet.core, :imports nil, :requires nil, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:properties :observers :else :is :proj-snippet :hostAttributes :listeners}, :order [:else :is :properties :hostAttributes :observers :listeners :proj-snippet]}, :doc nil}