{:rename-macros {}, :renames {}, :externs {Error {}, Polymer {}, Boolean {}}, :use-macros {}, :excludes #{}, :name proj.widgets.snippet.core, :imports nil, :requires nil, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:properties :observers :else :is :value :type :proj-snippet :hostAttributes :clj :listeners :html}, :order [:else :is :properties :hostAttributes :observers :listeners :proj-snippet :clj :html :value :type]}, :doc nil}