{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name boot.cljs.main40608, :imports nil, :requires {proj.widgets.devices.core proj.widgets.devices.core, proj.widgets.device-card proj.widgets.device-card, proj.widgets.device-card.core proj.widgets.device-card.core, index index, adzerk.boot-cljs-repl adzerk.boot-cljs-repl, proj.widgets.list.core proj.widgets.list.core, proj.widgets.greeting.core proj.widgets.greeting.core, proj.widgets.snippet.core proj.widgets.snippet.core, proj.widgets.list proj.widgets.list, proj.widgets.devices proj.widgets.devices}, :uses nil, :require-macros nil, :doc nil}